volumes:
  jellyfin_data:
    driver: local
    name: jellyfin_data
  zurg_data:
    driver: local
    name: zurg_data

services:
  jellyfin:
    image: lscr.io/linuxserver/jellyfin:latest
    container_name: jellyfin
    restart: unless-stopped
    ports:
      - 80:8096/tcp
      - 7359:7359/udp
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/New_York
    volumes:
      - ${REMOTE_MNT}:${REMOTE_MNT}:ro
      - jellyfin_data:/config
    devices:
      - /dev/dri:/dev/dri
    depends_on:
      - rclone-zurg
      - rclone-torbox
  zurg:
    image: ghcr.io/debridmediamanager/zurg-testing:latest
    container_name: zurg
    restart: unless-stopped
    environment:
      PUID: 1000
      PGID: 1000
      TZ: America/New_York
    volumes:
      - '${HTPC_HOME}/zurg/config.yaml:/app/config.yml'
      - zurg_data:/app/data
  rclone-zurg:
    image: ghcr.io/rclone/rclone:latest
    container_name: rclone-zurg
    restart: unless-stopped
    privileged: true
    cap_add:
      - SYS_ADMIN
      - MKNOD
    security_opt:
      - apparmor:unconfined
    volumes:
      - ${HTPC_HOME}/rclone/rclone.conf:/config/rclone.conf:ro
      - ${REMOTE_MNT}/realdebrid:${REMOTE_MNT}/realdebrid:rshared
      - ${HTPC_HOME}/.cache/rclone:/cache
    command: >
      mount zurghttp: ${REMOTE_MNT}/realdebrid
      --config=/config/rclone.conf
      --allow-other
      --uid=999
      --gid=988
      --umask=002
      --allow-non-empty
      --cache-dir=/cache
      --vfs-cache-mode=full
      --vfs-cache-max-age=24h
      --vfs-cache-max-size=150G
      --vfs-read-ahead=512M
      --vfs-read-chunk-size=128M
      --vfs-read-chunk-size-limit=2G
      --multi-thread-streams=4
      --buffer-size=64M
      --low-level-retries=20
      --retries=5
      --retries-sleep=5s
      --use-mmap
      --dir-cache-time=10s
      --log-level=INFO
      --exclude "*DS_Store*"

  rclone-torbox:
    image: ghcr.io/rclone/rclone:latest
    container_name: rclone-torbox
    restart: unless-stopped
    privileged: true
    cap_add:
      - SYS_ADMIN
      - MKNOD
    security_opt:
      - apparmor:unconfined
    volumes:
      - ${HTPC_HOME}/rclone/rclone.conf:/config/rclone.conf:ro
      - ${REMOTE_MNT}/torbox:${REMOTE_MNT}/torbox:rshared
      - ${HTPC_HOME}/.cache/rclone/torbox:/cache
    command: >
      mount torbox: ${REMOTE_MNT}/torbox
      --config=/config/rclone.conf
      --allow-other
      --uid=999
      --gid=988
      --umask=002
      --allow-non-empty
      --cache-dir=/cache
      --vfs-cache-mode=full
      --vfs-cache-max-age=24h
      --vfs-cache-max-size=150G
      --vfs-read-ahead=512M
      --vfs-read-chunk-size=128M
      --vfs-read-chunk-size-limit=2G
      --multi-thread-streams=4
      --buffer-size=64M
      --low-level-retries=20
      --retries=5
      --retries-sleep=5s
      --use-mmap
      --dir-cache-time=10s
      --log-level=INFO
  watchtower:
    image: index.docker.io/containrrr/watchtower
    container_name: watchtower
    restart: unless-stopped
    environment:
      - WATCHTOWER_DEBUG=true
      - WATCHTOWER_LABEL_ENABLE=true
      - WATCHTOWER_CLEANUP=true
      - WATCHTOWER_INCLUDE_STOPPED=true
      - WATCHTOWER_REVIVE_STOPPED=true
      - WATCHTOWER_POLL_INTERVAL=180
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock